body{
	background: white;
	font-family: Trebuchet MS Header;
}

h1{
	color: #282e3a;
	text-align: center;
	font-size: 85px;
}

#del-countdown{
	width: 850px;
	margin: 15% auto;
}


#header{
	overflow: auto;
}

#bean{
	width: 175px;
	height: auto;
	float: right;
}

#header{
	margin: 10px auto;
	overflow: auto;
}

#clock:after{
	content:"";
	display: block;
	clear: both;
}

#clock span{
	float: left;
	text-align: center;
	font-size: 84px;
	margin: 0 2.5%;
	color: white;
	padding: 20px;
	width: 20%;
	border-radius: 20px;
	box-sizing: border-box;

}

#clock span:nth-child(1){
	background: #fa5559;
}

#clock span:nth-child(2){
	background: #26c2b9;
}

#clock span:nth-child(3){
	background: #f6bc58;
}

#clock span:nth-child(4){
	background: #2dcb74;
}


#units span{
	font-size: 20px;
	float: left;
	width: 25%;
	text-align: center;
	margin-top: 30px;
	color: #282e3a;
	text-transform: uppercase;
	font-size: 13px;

}